* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 0, 0);
    height: 160px;
}

.big-icon svg{
    fill: white;
    width: 70px;
    height: 70px;
}

header div{
    color: white;
    display:flex;
    font-size: 30px;
    padding: 40px;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
}

main {
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

main div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sidebar{
    background-color: rgb(244, 244, 244);
    min-height: 100vh;
    padding: 20px;

}

#preview-container{
    padding: 20px;
}

button{
    appearance: none;
    background: none;
    border: none;
    display: flex;
    justify-content: flex-start;

    font: inherit;
    cursor: pointer;
    outline: inherit;
    gap: 20px;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    
    padding: 10px 15px;
}

button:hover {
    background-color: #e5e5e5;
    border-color: #ccc;
}

button:active {
    background-color: #e0e0e0;
}

.project-item{
    min-width: 200px;
}

h2 {
    font-size: 40px;
}

button svg, div svg {
    width: 40px;
    height: 40px;
}

.project-d-btn, .task-d-btn{
   
    display: flex;
    align-items: center;
}


.task-date{
    margin-left: auto;
}

.project-d-icon svg, .task-d-icon svg{
    width: 30px;
    height: 30px;
}

#submit-btn-div, #project-container div, #submit-btn-container{
    display: flex;
    flex-direction: row;
}

.task{
    display: flex;
    flex-direction: row;
    gap: 10px;
}